<div id= "pageArea">
  <div id= "aboutText">
  <img src="images/Meg_bw.jpg" alt="Meg's Picture" width="300px"/>
<h1> Call me Meg. </h1>
<p>
  Formally, I use Margaret. But I generally prefer to be called "Meg".  I almost always prefer comfort to formality.  So, please. Call me "Meg."
</p>
<p>
  I'm a creative person, I'm also one of those people that's always trying new hobbies.  My passions are a bit broad, because of that I have a lot
  of interests.  They include: Cooking and baking, travel, crafts, furniture rehab, exploring the twin Cities local music and photography.
  I love to find adventures, so I love to take long road trips with my family. We drive across the country on a pretty frequent basis and have plans
  for more of these trips in the works.  I love covering huge distances by car.  I like the romance of the changing landscape and seeing kitchy road stops,
  and experiencing that kind of classic americana that you can only really experience on the road.  I'm located in land-locked Minnesota, so I love getting
  close to the ocean any chance I get.
</p>
<p>
  I'm <u>not</u> a very good writer, but my husband runs a small comic book publishing company, so I enjoy helping out with story ideas from time to time.
  I also do all of the color and page layout for their first comic series, "Welcome to Free America".  You can check out the comic book reader
  that I created for them in my projects section.  I have a lot of fun with that project.
  It's ongoing, so we're putting out new content on a pretty regular basis.
</p>
<p>
  I was a photo retoucher for number of years.  I worked pretty much exclusively on print advertising.  So I have a lot of experience
  working in Photoshop and Adobe Creative Suite.  While I don't use Photoshop professionally anymore, I still use it a lot for my
  personal projects.
</p>
<p>
  I'm really enthusiastic about learning new things. I've got what I would call a hunger when it comes to learning new things.
  Because of this, I've decided to change careers to something where I would have more opportunities to learn and explore.
</p>
<p>
  Recently, I have begun to develop my software development skill set.  To do this, I attended Prime Academy, an intensive 18 week software development bootcamp.
  I learned a ton while I was at Prime Academy and am now comfortable with a number of different technologies and languages.  Though, I'm always striving to be better.
  So, I'm practicing, starting new projects and constantly researching and expanding upon what I do know.
  I love to collaborate, so if you're interested in working on a project together, let me know! I love starting and trying new things.
  Even if it's just helping to plan something.
</p>
  <div>
</div>
