<div id= "pageArea">
<div id= "resumeText">
<h1>
  Margaret Culotta
</h1>
<div id="title">
<h4>
  (612) 237-9880 | margaret.culotta@gmail.com | github.com/mculotta120
</h4>
</div>
<div class="container">
      <div id="skills">
        <div class="row">
      <h2>
      Skills
      </h3>
    </div>
      <ul>
      <div id="firstCol" class="col-sm-3">
      <li>MEAN stack
        <ul>
      <li>MongoDB
      <li>Express.js
      <li>AngularJS
      <li>Node.js
      </ul>
      <li>HTML 5
      <li>CSS 3
      </div>
      <div id="secondCol" class="col-sm-3">
      <li>JavaScript
      <li>jQuery
      <li>Bootstrap
      <li>Sass
      <li>Grunt
      <li>Passport
      <li>Git
      </div>
      <div id="thirdCol" class="col-sm-3">
      <li>GitHub
      <li>APIs
      <li>Heroku
      <li>AJAX
      <li>SQL
      <li>PostgreSQL
      <li>Mongoose
      </div>
      <div id="fourthCol" class="col-sm-3">
      <li>npm
      <li>Adobe Creative Suite
      <li>Project Management
      <li>Estimate Creation
      <li>High Quality Photo Retouching
      <li>Problem Solving
      <li>Customer Service
      </div>
      </ul>
      </div>
    </div>
<div id="resumeContent">
<h2>
  EXPERIENCE
</h2>
<div id="title">
<h4>
  Prime Digital Academy —
</h4>
</div>
<h5>
<div id="date"> April 2016 to August 2016 </div>
<i> Full Stack Software Development Student </i>
</h5>
  Solo Project- Wanderlust Comic Reader-
<p>
  Wanderlust Comic Reader is a web application that allows digital access to Wanderlust Comics. Wanderlust Comics Group is a small comic book publisher that prints very small runs that tend to sell out quickly.  Wanderlust Comic Reader allows readers to read graphic novels by issue, either page-by-page or panel-by-panel. It gives the reader the ability to zoom in on the artwork to view detail and  it allows exclusive access to illustrator and writer commentary.
  Used CSS and Bootstrap to maintain  a consistent aesthetic that fits within the Wanderlust Brand.
  Wanderlust Comic Reader utilizes the MEAN- stack (MongoDB, Expressjs, AngularJS, Node.js) and Passport.
</p>
  Group Project- Shortiez-
<p>
  Shortiez is a  customizable interactive reading app created for our client, The Black Tech Guy. It is aimed at children in grades K-6 and is intended to be culturally relevant to the individual student. It features a selection of pre-made characters and illustrations that the child can customize and insert into a story of their choice.  The student can also customize words and phrases that appear throughout the story. The application features an Admin mode where new stories and illustrations can be added to the available library and user access can be managed and monitored.
  Shorties utilizes the MEAN- stack (MongoDB, Expressjs, AngularJS, Node.js), Passport and Bootstrap.
</p>
<h3>
  Periscope—
  <div id="date">July 2006 to February 2016</div>
</h3>
<div id="title">
<i>
  Senior Production Artist
</i>
</div>

  <div id="date">November 2014 to February 2016</div>
  <ul>
  <li>Delegated work and projects on second shift for Retouching, Page Assembly and Imaging departments and remote work teams in India and Hong Kong.
  <li>Estimated effort and units of time required to complete tasks and availability of resources.
  <li>Met daily with project management to monitor and balance workflow between domestic and overseas departments.
  <li>Mentored and trained three retouching interns, two new team members and a team leader.
  <li>Created tutorials for use in overseas training.
  <li>Performed quality assurance for work returning from overseas offices.
  <li>Project managed creation and delivery of promotional and signage materials donated by Periscope for annual charity golf event that benefited job training  for low income minority clients. Over seven years, reduced out of pocket cost from $22,000 to $10,000 annually while meeting client needs and maintaining a high standard of quality.
  <li>Created, edited and updated all page layout and editing of  logos for the charity golf event using Adobe Indesign and Illustrator.
  <li>Answered process and methodology questions for project managers.
</ul>
<div id="title">
<i>
  Production Artist
</i>
</div>
  <div id="date"> November 2008 to November 2014</div>
  <ul>
  <li>Developed and researched retouching techniques, procedures and solutions for use in team projects and instructing team members in the use of these protocols.
  <li>Collaborated with designers and project managers to create high quality images for use in  print.
  <li>Preformed expert level photo retouching and compositing for advertising and catalogs.
  <li>Converted and prepared images for retouching treatments by adjusting ink limits and assigning  color profiles.
  <li>Quality Assurance and checking retouching work done by domestic and overseas team members.
  <li>Used Adobe  InDesign to edit and create documents and signage for print.
</ul>
<div id="title">
<i>
  Assistant Production Artist
</i>
</div>
  <div id="date">April 2007 to November 2007</div>
  <ul>
  <li>Preformed intermediate level retouching of images for use in catalogs and print advertising.
  <li>Assisted in image preparation for retouching treatments by outlining and masking images.
  <li>Performed minor page layout edits in Adobe Indesign and Illustrator.
</ul>
<div id="title">
  <i>
    Production Artist Intern
  </i>
</div>
  <div id="date">July 2006 to April 2007</div>
  <ul>
  <li>Shadowed Senior Production Artists and received training on image manipulation and enhancement.
  Assisted in basic level photo retouching.
  <li>Initially, I interviewed for an assistant position. However, as I had not yet graduated, an internship position was created so I could begin work part time  and continue taking college courses.
</ul>
<h3>
  Wanderlust Comics Group -
</h3>
<div id="title">
<i>
Managing Partner
</i>
</div>
<div id="date">October 2013 to Present</div>
<ul>
  <li>Performing coloring, retouching and page layout on all comic issues.
  <li>Organizing collaboration of up to 5 artists.
  <li>Managing deadlines and monitoring task assignments.
  <li>Insure consistent brand and aesthetic identity across all media aspects.
</ul>
<h2>
  EDUCATION
</h2>
<h3>
<div id="title">
  Prime Digital Academy —
</div>
</h3>
<div id="date"> April 2016 to August 2016 </div>
<div id="certification">
<i>
  Full Stack Software Engineering Certification
</i>
</div>
  <p>
  Prime is an intensive 18 week software development bootcamp that focuses on the MEAN stack and prepares students for development jobs by focusing on team projects and soft skills like public speaking and communication.
   As a retoucher, I felt like the work I was creating wasn’t part of something meaningful.  I decided to come to Prime because the challenge of software development appeals to me.  In development there are more opportunities present for personal growth and continued learning . There is so much diversity in the application of the skills, and as a result, my work has the potential to be more impactful.
 </p>
<h3>
<div id="title">
  Brown College —
</div>
</h3>
<div id="date">April 2004 to April 2007</div>
<div id="certification">
<i>
  Bachelor of Science in Digital Photography,
</i>
</div>
<p>
  Studied commercial and fine art photography with an emphasis in graphic art and emphasis in photo manipulation and graphic design skills.
</p>
<p>
  Dean’s List
</p>
<h3>
<div id="title">
  Normandale Community College—
</div>
</h3>
<div id="date">September 2003 to April 2007 </div>

<p>
General Education, French & Studio Art
</p>


</div>
</div>
</div>
