<div id= "pageArea" ng-init="getProjects()" class="gridListdemoBasicUsage">
<h1> Web Development Projects</h1>
<h2>Solo Stuff</h2>
   <div class='md-padding' layout="row" layout-wrap >
       <md-card class="cards" width= "400px" ng-repeat="project in soloProjects">
         <md-card-content>

         <h2>{{project.projectName}} </h2>
         <p>{{project.description}}</p>
        <button class="btn btn-default" href="{{project.url}}" >click to visit</button>
         <p>Login Information- {{project.login}} </p>


         </md-card-content>
       </md-card>
       </div>


<h2>Group Efforts </h2>
 <div class='md-padding' layout="row" layout-wrap >
     <md-card class="cards" width= "400px" ng-repeat="project in groupProjects">
       <md-card-content>

       <h2>{{project.projectName}} </h2>
       <p>{{project.description}}</p>
      <button class="btn btn-default" href=" " >click to visit</button>
       <p>Login Information- {{project.login}} </p>
       <p>Development team- {{project.devTeam}} </p>

       </md-card-content>
     </md-card>
     </div>
   </div>
