header{
  position: fixed;
  background: linear-gradient(to bottom, rgba(20, 54, 70, .25) 0%, rgba(20, 54, 70, .75) 20%, rgba(20, 54, 70, 1) 85%,  rgba(20, 54, 70, 1) 100%), url('/images/backgroundPattern3.jpg');
  padding: 5px;
  height: 115px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
body{
  background-color: rgb(103, 179, 184);
}
footer{
  text-align: center;
  margin-bottom: 20px; 
}
a:link{
  color: rgb(103, 179, 184);
}
#name{
  font-family: 'Dancing Script', cursive;
  color: rgb(103, 179, 184);
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 20px;
}
#nav{
  float: right;
  margin-right: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(103, 179, 184);
  font-size: 20px;
}
#pageArea{
  margin-top: 110px;
  padding: 30px;

}
#pageArea h1{
  font-family: 'Dancing Script', cursive;
}
#pageArea p{
  font-family: 'Open Sans Condensed', sans-serif;
}
#aboutText{
  background-color: rgba(245, 245, 245, .5);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  margin: 15px;
  padding: 20px;
  /*border-style: solid;
  border-color: white;
  border-width: 5px;*/
}
#aboutText h1{
  font-size: 30px;
}
#aboutText img{
  /*transform: rotate(8deg);*/
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  float: right;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  margin: 10px;
}
#aboutText p{
  font-size: 15px;
  margin:12px;
}
